@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: SUIT, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FBFBFB;
    color: #1E1E1E;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

.head-1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.sub-1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.sub-2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.sub-3 {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.body-1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.body-2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.cap-1 {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}

.cap-2 {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
}

.cap-3 {
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
}
